# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env
.env.local

# Database
*.db
*.sqlite3
postgres_data/

# Logs
logs/
*.log

# Data
#data/raw/*
data/processed/*
data/images/*
data/external
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/images/.gitkeep
runs/detect/*
# Models
models/weights/*
!models/weights/.gitkeep

# Docker
docker-volumes/

# CVAT
data/external/plantvillage_healthy_reannotated/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Kaggle
kaggle.json


# common
docs
roboflow_data
roboflow_2757.tar.gz
plantvillage